.button {
  border-radius: 100px;
  width: 320px;
  height: 59px;
  font-family: "Bluu Next Cyrillic", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  display: flex;
  cursor: pointer;
}
