.button {
  border-radius: 100px;
  width: 320px;
  height: 59px;
  font-family: "Bluu Next Cyrillic", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  &--yellow {
    border: none;
    background: var(--brand-dark);
    border: 1px solid var(--brand-dark);
    transition: 0.3s;

    &:hover {
      background-color: var(--primary-dark);
      color: var(--brand-light);
      border: 1px solid var(--brand-dark);
    }
  }

  &--transparent {
    background-color: transparent;
    color: var(--brand-light);
    border: 1px solid var(--brand-dark);
    transition: 0.3s;

    &:hover {
      background: var(--brand-dark);
      color: var(--primary-dark);
    }
  }
}
